:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @page {
  margin: 0; 
  size: A4; 
} */

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* Optional: keeps the background fixed when scrolling */
  margin: 0;
  padding: 0;
  background-image: url(./assets/background.jpg);
  overflow: hidden;
}


/* @media print {
  @page {
    margin: 0; 
  }
  html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
  }

  body {
      background-image: url(./assets/background.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
  }
} */